@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Main;
  src: url(../fonts/Inter-Bold.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: Main;
}
@layer components {
  .cont {
    @apply container lg:mx-[160px] md:mx-[75px] w-[auto];
  }
}

.blur-effect {
  animation: blur-anim 15s infinite alternate ease-in;
}

.center-x {
  transform: translateX(-50%);
  margin-left: 50%;
}
.center-y {
  transform: translateY(-50%);
  margin-top: 50%;
}
.center-xy {
  transform: translate(-50%, -50%);
  margin-top: 50%;
  margin-left: 50%;
}
.rotate {
  animation: rotate 5s infinite linear(0 0%, 1 100%);
  transform-origin: 50% 50%;
}
@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes blur-anim {
  from {
    width: 212px;
    height: 212px;
  }
  to {
    width: 275px;
    height: 275px;
  }
}

.loading {
  background: linear-gradient(110deg, #2c2c2c 8%, #373737 18%, #2c2c2c 33%);
  background-size: 200% 100%;
  animation: 1s loading linear infinite;
}
@keyframes loading {
  to {
    background-position-x: -200%;
  }
}

.full-page-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.rotate-anim {
  animation: rotate-anim 1s infinite;
}

@keyframes rotate-anim {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
